.margin {
  margin-top: 20px;
}

.demo{
  background-color:blue;
  width: 20%;
  border-radius: 10px;
  text-align: center;
}

#forecast {
  display: flex;
}

#weather {
  text-align: center;
}

.center {
  text-align: center;
  height: 200px;
}

#uvIndex {
  text-align: center;

}